.block {
    background: #e1e6ec;
    width: 390px;
    height: 450px;
}
.word {
    color: #82828c;
    font-weight: 900;
    font-size: large;
    margin: 20px;
    padding: 0px 0px;

}
.form-row {
    margin-bottom: 8px;
    overflow: hidden;

}

.img-button img {
    width: 42px;
    height: 42px;
    padding: 0px 0px;
    margin: 6px;

}

.form-row {
    width: 310px;
    height: 42px;
    line-height: 19px;
    margin: 20px;
    padding: 0px 0px;

}

.reg-form {
    margin: 20px;
    width: 369px;
    height: 602px;
}

.form-row textarea {
    height: 90px;
    line-height: 16px;
    font-size: 12px;
    padding: 11px 5px;
    width: 404px;

}

.form-row input[type=submit] {
    padding: 5px;
    height: 43px;
    width: 100%;
    line-height: 10px;
    background: #b3d9da;
    color: white;
    font-size: 14px;
}

.form-row input[type=submit]:hover {
    background: #66CDAA;

}

* {
    font-family: arial;
    font-size: 10pt;
}

